---
import MovieCard from '../components/MovieCard.astro'
import UpcomingMovies from '../components/UpcomingMovies.astro'
import PopularMovies from '../components/PopularMovies.astro'
import Layout from '../layouts/Layout.astro'

import { getMovies } from '../utils'

const upcomingMovies = await getMovies('upcoming')
const popularMovies = await getMovies('popular')
---

<Layout title="Home">
	<div class="pt-10">
		<div class="mx-auto w-full max-w-[1320px] px-5 sm:px-8 md:px-12">
			<UpcomingMovies upcomingMovies={upcomingMovies} />
			<PopularMovies popularMovies={popularMovies} />
		</div>
	</div>
</Layout>
