---

---

<div class="flex w-full items-center space-x-11 bg-gray-900 p-7">
	<a href="/" class="font-bold uppercase text-green-500"> MovieAstro </a>
	<div class="w-full justify-between space-x-5 lg:flex">
		<ul class="flex items-center justify-center space-x-11">
			<li class="text-xl text-white">
				<a href="/">Home</a>
			</li>
			<li class="text-xl text-white">
				<a href="/upcoming">Upcoming</a>
			</li>
			<li class="text-xl text-white">
				<a href="/trending">Trending</a>
			</li>
		</ul>
	</div>
</div>
